<img class="" src="<%= "/cats/#{@post.images.first.image_path}" %>" alt="Card image cap" width="300" height="300" style="object-fit: cover">
<ul>
  <li>名前: <%= @post.cat.name %></li>
  <li>お店: <%= @post.cat.shop.name %></li>
</ul>